[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataset = "*"
py-cord = {extras = ["voice"], version = "*"}
wavelink = "==1.3.5"
python-dotenv = "*"
sendgrid = "*"

[dev-packages]

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
